#title{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
    font-size: 54px;
}
#menu{
    background-color: grey;
    padding: 9px;
    overflow: hidden;
    font-size: 34px;
}
*{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px; 
    padding: 0px;
}
#menu #right{
    color: white;
    font-size: 34px;
    padding: 7px 14px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-bottom:  7px solid grey;
    font-weight:  bold;
}
#menu div{
    display:  inline-block;
    text-align:  center; 
    margin:  20px calc((100% - 800px)/2);
}
#menu #right:hover{
    color: white;
    border-bottom:  7px solid white;
}
#container{
    display: flex;
    flex-wrap: nowrap
}
#left-side{
    flex:50%;
    background-color:#fffdfdf2
}
#right-side{
    flex:50%;
    background-color:white
}
#footer{
    background-color: black;
    padding: 20px;
    color: white;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
} 
#image {
    width: 50px;
    height: 50px;
}
table td, table th {
    border: 1px solid grey;
    text-align: center;
    padding:  10px;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}
img{
    width:90px;
    height: 110px
}
@media(max-width: 1000px){
    #menu{
        background-color: grey;
        padding: 14px;
        overflow: hidden;
        font-size: 22px;
    }
    #menu #right{
        color: white;
        font-size: 22px;
        padding: 8px 10px;
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        float: right;
        font-weight:  bold;
        text-decoration: none;
    }
    #menu div{
        display:  inline-block;
        text-align:  center;
        margin: 20px calc((100% - 475px)/2);
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
        background-color:#fffdfdf2
    }
    #right-side{
        flex:100%;
        background-color:white
    }
}
@media(max-width: 800px){
    #menu{
        background-color: grey;
        padding: 14px;
        overflow: hidden;
        font-size: 20px;
    }
    #title{
        background-color: black;
        text-align: center;
        color: white;
        padding: 50px;
        margin: 0;
        font-size: 44px;
    }
    #image {
        width: 40px;
        height: 40px;
    }
    #menu div{
        display:  inline-block;
        text-align:  center;
        margin: 20px calc((100% - 437px)/2);
    }
    #menu #right{
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        float: right;
           font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
         font-weight:  bold;
             border-bottom:  7px solid grey;

    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
        background-color:#fffdfdf2
    }
    #right-side{
        flex:100%;
        background-color:white
    }
}
@media(max-width: 411px){
    #menu{
        background-color: grey;
        padding: 4px;
        overflow: hidden;
        font-size: 12px;
    }    
    #title{
        background-color: black;
        text-align: center;
        color: white;
        padding: 50px;
        margin: 0;
        font-size: 31px;
    }
    #image {
        width: 28px;
        height: 28px;
    }
    #menu div{
        display:  inline-block;
        text-align:  center; 
        margin:  20px calc((100% - 300px)/2);
    }
    #menu #right{
        color: white;
        font-size: 12px;
        padding: 8px 10px;
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:  bold;
        text-decoration: none;
        border-bottom:  7px solid grey; 
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
        background-color:#fffdfdf2
    }
    #right-side{
        flex:100%;
        background-color:white
    }
}
@media(max-width: 320px){
    #menu{
        background-color: grey;
        padding: 4px;
        overflow: hidden;
    }   
    #title{
        background-color: black;
        text-align: center;
        color: white;
        padding: 20px 10px;
        margin: 0;
        font-size: 14px;
    } 
    #image {
        width: 10px;
        height: 10px;
    }
    #menu div{
        display:  inline-block;
        text-align:  center; 
        margin:  20px calc((100% - 250px)/2);
    }
    #menu #right{
        color: white;
        font-size: 10px;
        padding: 2px 7px;
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:  bold;
        text-decoration: none;
        border-bottom:  7px solid grey; 
    }
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
        background-color:#fffdfdf2
    }
    #right-side{
        flex:100%;
        background-color:white
    }
}
